registry=https://registry.npmjs.org/
@adobe:registry=https://registry.npmjs.org/
@babel:registry=https://registry.npmjs.org/
@eslint:registry=https://registry.npmjs.org/
@gatsbyjs:registry=https://registry.npmjs.org/
@graphql-tools:registry=https://registry.npmjs.org/
@humanwhocodes:registry=https://registry.npmjs.org/
@internationalized:registry=https://registry.npmjs.org/
@jridgewell:registry=https://registry.npmjs.org/
@nodelib:registry=https://registry.npmjs.org/
@parcel:registry=https://registry.npmjs.org/
@pmmmwh:registry=https://registry.npmjs.org/
@reach:registry=https://registry.npmjs.org/
@react-aria:registry=https://registry.npmjs.org/
@react-spectrum:registry=https://registry.npmjs.org/
@react-stately:registry=https://registry.npmjs.org/
@react-types:registry=https://registry.npmjs.org/
@sideway:registry=https://registry.npmjs.org/
@sindresorhus:registry=https://registry.npmjs.org/
@spectrum-icons:registry=https://registry.npmjs.org/
@swc:registry=https://registry.npmjs.org/
@types:registry=https://registry.npmjs.org/
@typescript-eslint:registry=https://registry.npmjs.org/
@webassemblyjs:registry=https://registry.npmjs.org/
@xtuc:registry=https://registry.npmjs.org/