@use '../abstracts/variables' as *;

html {
  font-size: 62.5%;
}

body {
  background: $surface-color;
  color: $primary-color;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
  text-align: center;
}
