@import "custom";

$sidebar-bg-color: #ffffff !default;
$submenu-bg-color: #ffffff !default;
$highlight-color: #242424 !default;

@import '~react-pro-sidebar/dist/scss/styles.scss';

.header {
  // text-align: center;
}

span {
  &.dangerText {
    color: #dc3545;
  }

  &.infoText {
    color: #17a2b8;
    font-weight: bold;
  }
}

#sidebar {
  min-height: 100vh !important;
  z-index: 100;
  padding: 0px 0 0;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}
#outer {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
}

$assetPath :"./images/background.jpeg";
body {
  margin: 0 auto;
  background: #{$assetPath};
  width: 100%;
  // background-color: #232423;
}